////////////////////////////////////////////////// IMPORT BOOTSTRAP //////////////////////////////////////////////////////

@import "../bootstrap/scss/bootstrap.scss";


//////////////////////////////////////////////////// IMPORT FONTS ////////////////////////////////////////////////////////

@font-face {
  font-family: "OpenSans";
  src: url("../Font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../Font/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../Font/Open_Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "OpenSans-Bolder";
  src: url("../Font/Open_Sans/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "East";
  src: url("../Font/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf");
}


/* HEADER */

header {

  nav {

    .navbar-nav {

      a {
        color: rgb(43, 43, 43);
        border: 2px solid rgb(43, 43, 43);
        border-radius: 4px;
        transition-duration: 400ms;
        font-family: "OpenSans-Bold";
        font-size: 15px;

        &:hover {
          transform: scale(1.1);
          color: rgb(43, 43, 43);
          background-color: #f2e9f1;
          border-color: #f2e9f1;
        }
      }
    }
  }
}

@media screen and (max-width: 992px){
  .navbar-nav{
    a {
      border: none !important;
    }
  } 
}

/////////////////////////////////////////////////// INDEX.HTML ////////////////////////////////////////////////////////

/* CONTENU */

main {

  #hero {
    background-color: #f2e9f1;

    h1 {
      padding: 100px 0px;
      text-align: center;
      font-size: 100px;
      font-family: 'East';
    }
  }

  #listeProduit {

    .contenant-card {
      height: 400px;

      img {
        max-width: 100%;
        height: 257px;
      }

      .card-description {
        padding-left: 10px;
        position: relative;

        h2 {
          font-family: 'East';
          font-size: 50px;
          margin-bottom: 20px;
        }

        p {
          font-family: 'OpenSans';
          font-size: 18px;
        }

        a {
          font-family: 'OpenSans';
          margin-bottom: 10px;
          position: absolute;
          right: 10px;
          bottom: 5px;
          transition-duration: 400ms;

          &:hover {
            transform: scale(1.05);
          } 
        }
      }
    }
  }
}


//////////////////////////////////////////////////// PRODUIT.HTML ////////////////////////////////////////////////////////

#detailProduit {
      
  #picture {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-family: 'East';
    font-size: 50px;
    margin-bottom: 20px;
  }

  p {
    font-family: 'OpenSans';
  }

  span {
    font-family: 'OpenSans-Bold';
    font-size: 20px;
    opacity: 0.9;
  }

  #optionAction {
    position: relative;
    padding: 0px 15px;

    #informationOption {

      p {
        font-family: "OpenSans-Bold";
      }
    }

    #ajoutPanier {
      position: absolute;
      right: 2%;
      bottom: 2%;
    }
  }  
}


//////////////////////////////////////////////////// PANIER.HTML ////////////////////////////////////////////////////////

#panier {

  #panierVide {

    h2 {
      font-family: "East";
      font-size: 60px;
      color: red;
    }
  }

  table {
    table-layout: auto;
    width: 100%;

    th {
      border: 2px solid black;
      text-align: center;
    }

    tr {
      border: 2px solid black;
      height: 60px;
      text-align: center;

      img {
        width: 150px;
      }

      .fas {
        font-size: 30px;
      }

      td {
        border: 2px solid black;
        vertical-align: 60px;
      }
    }
  }
}

#formulaire {
  border: 2px solid black;
  padding: 20px 20px;

  #formulaire_title {
    text-align: center;
    font-family: "OpenSans-Bold";
  }

  #formulaire_infos {
    

    #paiement {
      text-align: center;

      #carte {
        
        .fab {
          margin-left: 5px;
          margin-right: 12px;
        }
      }
    }

    button {
      align-items: center;
    }
  }
}


/* FOOTER */

footer {
  background-color: #f8f9f9;
  color: rgb(43, 43, 43);
  text-align: center;
  padding: 10px 0px;
  margin-top: 30px;

  li {
    margin-top: 5px;

    a {
      color: #42A2B8;
    }
  }
}